[user]
	name = Tobias Macey

[core]
  pager = less -FRSX
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eolexcludesfile = ~/.gitignore_global
  excludesfile = ~/.gitignore_global

[alias]
  co = checkout
  ci = commit
  st = status
  pick = cherry-pick
  ph = push origin HEAD
  cm = checkout master
  plh = pull origin HEAD
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  w = whatchanged
  search = "!f() { query=\"$1\"; shift; git log -S\"$query\" \"$@\"; }; f \"$@\""
  b = branch
  rdiff = diff --summary head
  stat = diff --summary head
  mt = mergetool
  rc = rebase --continue
  pr = pull-request
  f = fetch
  smc = log --author=\"Tobias Macey\" --grep=\"$1\"

[mirror]
  summary = true

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[color "branch"]
  current = green reverse
  local = green
  remote = cyan

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = red

[rerere]
  enabled = 1

[mergetool]
  keepBackup = false

[gc]
  rerereresolved = 256

[push]
  default = simple

[merge]
  tool = kdiff3
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
